.functionality {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 30%;
  margin-top: 5%;
  height: 60px;
  border: 2px solid lemonchiffon;
  border-radius: 7px;
}

.btn:hover {
  color: wheat;
  background-color: cadetblue;
  cursor: pointer;
}
